<header class="chrome:header">
  <div class="chrome:header_title">
    <a href="{{ "/" | relative_url }}" class="text-grey-800 no-underline hover:no-underline focus:no-underline">
      <span class="text-3xl">{{ site.title }}</span>
    </a>
  </div>
  
  {% if site.search_enabled %} {% include search_input.html %} {% endif %}
</header>
<head>
  <link rel="icon" href="favicon.ico" type="image/x-icon"> 
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="{{ 'favicon.ico' | relative_url }}" type="image/x-icon">
</head>
