<!DOCTYPE html>
<html>
    <body>
    <div class="chrome">
       <div class="chrome:body">
        {% include header.html %}
        <div class="chrome:content">
          <div class="chrome:main">
            {% if site.auto_page_title and page.title %}
            {% if page.auto_title != false %}
            <h1 id="{{ page.title | replace: " ", "-" | downcase | url_encode }}">{{ page.title }}</h1>
            {% endif %}
            {% endif %}
            {{ content }}
            {% if page.previous_page or page.next_page %} {% include page_nav.html %} {% endif %}
          </div>
          {% if site.sidebar %} {% include sidebar.html %} {% endif %}
        </div>
        </div>
    </div>
  </body>
</html>
